body .main-container {max-width: 1600px;}
p {padding: 20px;}
table {border: 2px solid #e64626;}
.table {border: 2px solid #e64626;}
.table>thead>tr>th
{
  border-bottom: 2px solid #e64626;
  border-right: 1px solid black;
}
.table>tbody>tr>td {border-right: 1px solid black;}    